
#showcase-editor {
	
	.se-workspace {
		align-items: stretch;
		border: 1px solid green;
		border-width: 1px 0;
		display: flex;
		margin: 1em 0;

		.se-canvas {
			background-color: white;
			flex: 1;
		}

		.se-panels {
			background-color: #666;
			color: #eee;
			flex-wrap: wrap;
			max-width: 300px;

			.se-panel {
				header {
					padding: 1em;
					border-bottom: 1px solid #eee;
				}

				.se-panel-body {
					padding: 1em;
				}
			}
		}
	}

	.se-canvas {
		min-height: 600px;
		position: relative;

		.se-cell {
			overflow: hidden;
			position: absolute;

			&.se-cell-selected {

				outline: 1px dotted white;
				z-index: 100;
			}

			.se-cell-content {
				position: absolute;
			}
		}
	}
	.se-console {
		background-color: #283239;
		min-height: 200px;

		pre {
			color: #eee;
		}
	}
}

.se-product-browser-products {

	display: flex;
	flex-wrap: wrap;

	.se-product-browser-products-cell {
		height: 0;
		padding-bottom: 20%;
		position: relative;
		width: 20%;

		.se-product-browser-products-cell-content {
			margin: 1em;
			border: 1px solid #222;
		}
	}

}